[Desktop Entry]
Name=YTMDesktop
Icon=app.ytmdesktop.ytmdesktop
Encoding=UTF-8
Type=Application
Terminal=false
Categories=AudioVideo;Utility
Exec=start-ytmdesktop %U
StartupWMClass=YouTube Music Desktop App
